<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

    <h1> Pig-latinized word </h1>
    <p>"<%= @latinized_word %>"</p>

  
  </body>
</html>


